<html lang="en">
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
    <script type="text/javascript" src="{{ url_for('static',     filename='scripts/networkViewer.js') }}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static',     filename='css/styles.css') }}" rel="stylesheet" type="text/css" />
    <title>Z-Wave Network Viewer</title>
</head>
<body onload="onLoad()">
    <div class="wrapper">

        <header class="header">
            <div class="header-content">
                <div class="header-text">Z-Wave Network Viewer</div>
                <div class="header-debug"><img src="{{ url_for('static',     filename='images/json.png') }}" class="debug-button" onclick="onDebug()" /></div>
            </div>
        </header><!-- .header-->

        <div class="middle">

            <div class="container">
                <main class="content">
                    <div id="network" class="content-network"></div>
                </main><!-- .content -->
            </div><!-- .container-->

            <aside class="right-sidebar" id="sidebar">
                <div id="node-data" class="node-data">
                    <div class="sidebar-section" id="node-details">
                        <div class="sidebar-section-title" id="node-details-title"></div>
                        <div class="sidebar-section-content" id="node-details-content"></div>
                    </div>

                    <div class="sidebar-section" id="hops-legend"></div>

                </div>
            </aside><!-- .right-sidebar -->
        </div><!-- .middle-->
    </div><!-- .wrapper -->
</body>
</html>